<div class="wrapper-home">
    <app-profile-card [user]="user"></app-profile-card>
    <div class="banner-container">
        <div class="item" *ngFor="let item of itemsBanner; let i = index">
            <div class="item-icon">
                <fa-icon class="icon" [icon]="item.icon"></fa-icon>
            </div>
            <div class="item-text">
                <span>{{item.title}}</span>
                <span>{{item?.value}}</span>
            </div>
        </div>
    </div>
    <!-- <div class="calendar-wrapper"> -->
        <!-- <full-calendar [options]="calendarOptions"> -->
        <!-- </full-calendar> -->
    <!-- </div> -->

    <app-table [title]="'Asignaciones'" [keys]="['usuario_id','usuario_nombre','usuario']" [list]="[{usuario_id: 1, usuario_nombre: 'Mauro', usuario: 'mauro08'}]" [headers]="['ID','Docentes','Usuario','Formación','Working Day']"></app-table>
</div>