<div class="wrapper-layout">
    <aside class="side-bar">
        <img class="side-bar__image" src="assets/logo-2-black.png" alt="logo-UL">
        <ul class="side-bar__list">
            <ng-container *ngFor="let item of items.slice(0,5)">
                <li class="side-bar__list-item" 
                    [routerLink]="item.url"
                    [routerLinkActive]="'active'">
                    <i class="icon material-icons">{{item.icon}}</i>
                    <span>{{item.title}}</span>
                </li>
            </ng-container>

        </ul>
        <ul class="side-bar__list bottom-list">
            <ng-container *ngFor="let item of items.slice(5,9)">
                <li class="side-bar__list-item" 
                    (click)="handleClick(item.title)" 
                    [routerLink]="item.url"
                    [routerLinkActive]="'active'" 
                    [ngClass]="{
                    'pending' : item.title == 'Notificaciones', 
                    'active': item.title == 'Notificaciones'
                    }">
                    <i class="icon material-icons">{{item.icon}}</i>
                    <span>{{item.title}}</span>
                </li>
            </ng-container>

            <div class="hour">
                <!-- {{date}} -->
            </div>
        </ul>
    </aside>
    <div class="layout-components">
        <app-notifications-modal *ngIf="!isClose"></app-notifications-modal>
        <app-fade-out *ngIf="!isLogOut"></app-fade-out>
        <router-outlet></router-outlet>
    </div>
</div>